@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400&display=swap');



body {
    font-family: 'Lexend Deca', sans-serif;
}

main {
    padding: 16px
}

footer {
    background-color: rgb(202, 179, 234);
    padding: 24px
}

img {
    height: 200px
}

nav {

    background-color: rgb(132, 252, 252);
    padding: 16px
}

.grid-layout {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
}

a {
    color: darkorchid
}

h1 {
    color: rgb(37, 45, 200)
}

h2 {
    color: rgb(241, 113, 199)
}

tr:nth-child(even) {
    background-color: lightgrey;
}
